*{
    box-sizing: border-box;
}

:root{
    --main-font-family: 'Roboto', sans-serif;
    --secondary-font-family: 'Poppins', sans-serif;
}

body{
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: var(--main-font-family);
    font-weight: 400;
}

p,
ul,
h1,
h2,
h3,
h4,
h5,
h6{
    margin: 0;
    padding: 0;
}

/* MainMan */
.content{
    flex-direction: column;
    height: 100%;
    padding: 100px;
}

.hero{
    display: flex;
    align-items: center;
    gap: 100px;
}

.hero__img{
    width: 400px;
    height: auto;
}
.hero__img img{
    width: 100%;
    height: auto;
}

.hero__name{
    font-weight: 300;
    font-size: 40px;
    line-height: 34px;
    letter-spacing: 0.005em;
    color: #666666;
margin-bottom: 15px;
}

.hero__name-higlight{
    font-weight: 900;
    color:#42489E;
}

.hero__jod-title{
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.005em;
    color: #666666;
    margin-bottom: 25px;
}

.hero__contacts-list,
.hero__link{
    list-style: none;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 0.05em;
    color: #666666;
    text-decoration: none;
}

.hero__contact-items{
    margin-bottom: 8px;
    position: relative;
    padding-left: 30px;
}

.hero__contact-items::before{
    content: '';
    width: 25px;
    height: 25px;
    position: absolute;
    left: -25px;
    background-repeat: no-repeat;
    background-size: contain;
}

.hero__contact-items:nth-child(1)::before{
    background-image: url(./img/Phone.png);
    width: 20px;
    height: 20px;
    left: 2px;
}

.hero__contact-items:nth-child(2)::before{
    background-image: url(./img/Mail.png);
    width: 23px;
    height: 20px;
    left: 1px;
}

.hero__contact-items:nth-child(3)::before{
    background-image: url(./img/Cal.png);
    width: 25px;
    height: 20px;
    left: 5px;
}

.hero__contact-items:nth-child(4)::before{
    background-image: url(./img/Map.png);
    width: 25px;
    height: 20px;
    left: 5px;
}
/* MainMan */

















/* Game Ex */
.mainh{
    position: relative;
    color:#42489E;
    padding-top:50px ;
}

.mainh::before{
    content:'';
    background-image:url(./img/Market.png);
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    position: absolute;
    left: -60px;
    top: 42px;
    background-size: contain;
}
/* Game Ex */





















/* Minecraft */
.minecraft{
    position: absolute;
    margin-top: 40px;
}

.craft{
    list-style: none;
}

.mainhi{
    margin-bottom: 10px;
    font-weight: 900
}

.place{
    margin-bottom: 15px;
    color: #9B9B9B;
}

.sidetexthi{
    color: #666666;
    width: 50%;
}

.mainhi::before{
    content:'';
    background-color: #ccc;
    display: block;
    border-radius: 100%;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    position: absolute;
    left: -60px;
    background-size: contain;
}

.mainhi::after{
    content:'';
    background-color: purple;
    display: block;
    border-radius: 100%;
    background-repeat: no-repeat;
    width: 15px;
    height: 15px;
    position: absolute;
    left: -53px;
    top: 7px ;
    background-size: contain;
}
/* Minecraft */





















/* Anno */
.anno{
    position: absolute;
    margin-top: 200px;
}

.ano{
    list-style: none;
}

.mainhisec{
    margin-bottom: 10px;
    font-weight: 900
}

.mainhisec::before{
    content:'';
    background-color: #ccc;
    display: block;
    border-radius: 100%;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    position: absolute;
    left: -60px;
    background-size: contain;
}

.mainhisec::after{
    content:'';
    background-color: purple;
    display: block;
    border-radius: 100%;
    background-repeat: no-repeat;
    width: 15px;
    height: 15px;
    position: absolute;
    left: -53px;
    top: 7px ;
    background-size: contain;
}
/* Anno */





















/* Battlefield */
.battlefield{
    position: absolute;
    margin-top: 350px;
}

.battle{
    list-style: none;
}

.mainhithir{
    margin-bottom: 10px;
    font-weight: 900
}

.mainhithir::before{
    content:'';
    background-color: #ccc;
    display: block;
    border-radius: 100%;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    position: absolute;
    left: -60px;
    background-size: contain;
}

.mainhithir::after{
    content:'';
    background-color: purple;
    display: block;
    border-radius: 100%;
    background-repeat: no-repeat;
    width: 15px;
    height: 15px;
    position: absolute;
    left: -53px;
    top: 7px ;
    background-size: contain;
}
/* Battlefield */





















/* SideContant */
.side-content{
    position: absolute;
    width: 700px;
    height: 1200px;
    padding: 100px;
    right: 0;
    top: 0px;
    background: linear-gradient(180deg, #6D5DA8 0%, #43479E 100%);
}
.sidetext{
    font-family: var(--main-font-family);
    font-size: 20px;
    color: #FFFFFF;
    padding-top: 40px;
}

.sidetitles{
    font-family: var(--main-font-family);
    font-size: 40px;
    color: #FFFFFF;
    margin-top: 60px;
    margin-bottom: 20px;
}

.hedmein{
    font-family: var(--main-font-family);
    font-size: 15px;
    color: #FFFFFF;
    padding-top: 30px;
}

.lines{
    list-style: none;
    text-decoration: none;
}

progress{
    padding: 5px ;
    width: 300px;
    height: 20px;
}

.findme{
    list-style: none;
    text-decoration: none;
}

.find{
    font-size: 20px;
    text-decoration: none;
    color: white;
}
/* SideContant */





















@media screen and (max-width: 1024px) {
    .anno{
        position: absolute;
        margin-top: 250px;
    }

    .battlefield{
        position: absolute;
        margin-top: 400px;
    }

  @media screen and (max-width: 768px) {
    
  }